.blue-button {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  color: #0f0f0f;
  font-size: 16px;
  padding: 7px 25px;
  border-radius: 10px;
  border: 2px solid #aaaaaa;
  background: #FFFFFF;
  
}
.blue-button:hover {
  color: #6aaaff ;
  background: #FFFFFF;
  box-shadow: 2px 2px 2px #9cc9e6; 
}

.red-button {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  color: #000000;
  font-size: 16px;
  padding: 7px 25px;
  border-radius: 10px;
  border: 2px solid aaaaaa;
  background: #FFFFFF;
  
}
.red-button:hover {
  color: #ff6d6d ;
  background: #FFFFFF;
  box-shadow: 2px 2px 2px #f19898; 
}

.btn-minwidth{
  min-width: 130px;
}

.green-button {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  color: #000000;
  font-size: 16px;
  padding: 7px 25px;
  border-radius: 10px;
  border: 2px solid #aaaaaa;
  background: #FFFFFF;
  
}
.green-button:hover {
  color: #807efc ;
  background: #FFFFFF;
  box-shadow: 2px 2px 2px #ecf7f2; 
}